<div class="card">
  <div class="card-header">
    <h1 class="title">Jakarta</h1>
  </div>
  <div class="card-body">
    <div class="card-image">
      <img src="assets/images/cloudy.png">
    </div>
    <div class="card-content">
      <div class="weather">
        <h1 class="title city hidden">Depok Kota</h1>
        <span class="temperature">31 <img class="icon" src="assets/images/temp-celcius.png"></span>
        <span class="status">cloudy</span>
      </div>
      <!-- <div class="weather-details">
        <div class="weather-details-item">
          <img class="icon" src="assets/images/wind.png">
          <span>2 m/s</span>
        </div>
        <div class="weather-details-item">
          <img class="icon" src="assets/images/cloudy.png">
          <span>60%</span>
        </div>
        <div class="weather-details-item">
          <img class="icon" src="assets/images/sunny.png">
          <span>5 a.m.</span>
        </div>
        <div class="weather-details-item">
          <img class="icon" src="assets/images/temp-down.png">
          <span>25<sup>o</sup></span>
        </div>
        <div class="weather-details-item">
          <img class="icon" src="assets/images/temp-up.png">
          <span>31<sup>o</sup></span>
        </div>
        <div class="weather-details-item">
          <img class="icon" src="assets/images/drop.png">
          <span>60%</span>
        </div>
      </div> -->
    </div>
  </div>
</div>
